#include <winresrc.h>

IDI_APP ICON "..\\TubaWinUi3.WinUI3\\Assets\\AppIcon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,1,1,0
PRODUCTVERSION 0,1,1,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "yujinchuan2021-max"
            VALUE "FileDescription", "枕星图吧AI助手"
            VALUE "FileVersion", "0.1.1.0"
            VALUE "InternalName", "TubaWinUi3"
            VALUE "OriginalFilename", "枕星图吧AI助手.exe"
            VALUE "ProductName", "枕星图吧AI助手"
            VALUE "ProductVersion", "0.1.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
